In [1]:
# Importing the necessary libraries
# import pyforest
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
sns.set(color_codes=True)

In [3]:
df = pd.read_csv("csv/flights.csv", sep=',')
df.tail()

,ID,ItinID,MktID,MktCoupons,Quarter,Origin,OriginWac,Dest,DestWac,Miles,ContiguousUSA,NumTicketsOrdered,AirlineCompany,PricePerTicket
9534412,9534412,201844999082,20184499908202,1,4,STL,64,AUS,74,721.0,2,1.0,WN,310.10
9534413,9534413,201844999092,20184499909203,1,4,BNA,54,MCI,64,491.0,2,1.0,WN,106.17
9534414,9534414,201844999112,20184499911203,1,4,BOS,13,LIT,71,1260.0,2,1.0,WN,161.19
9534415,9534415,201844999113,20184499911303,1,4,BOS,13,LIT,71,1260.0,2,1.0,WN,170.87
9534416,9534416,201844999114,20184499911403,1,4,BOS,13,LIT,71,1260.0,2,1.0,WN,379.02